/*
Sidebar category navigation
==============================================
Styling for category navigation component.
*/
.category-navigation-box {
    padding: $spacer-lg;
    border-radius: 6px;
    background:#fff;
    margin-bottom: $spacer-xs;
    box-shadow: 0 1px 4px 0 rgba(51, 68, 91, 0.2);
}

.category-navigation {
    list-style: none;
    margin: 0;
    padding-left: 20px;


    &.level-0 {
        padding-left: 0;
        font-size: 16px;
    }

    &.level-1 {
        font-size: 14px;
    }

    &.level-2 {
        font-size: 12px;
    }
}

.category-navigation-entry {
    margin: 0;
    padding: 0;
}

.category-navigation-link {
    display: block;
    padding: 8px 20px;
    font-weight: $font-weight-normal;
    color: $sw-text-color;
    border-radius: $border-radius-lg;
    &:hover {
        text-decoration: none;
    }

    &.is-active {
        color: $gray-800;
        font-weight: $font-weight-bold;
        font-size: 16px;
        line-height: 27px;
        background-color: $gray-50;
    }

    &.in-path {
        font-weight: $font-weight-bold;
    }
}
