<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_login %}
<div
    v-show="shouldRenderDOM"
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_image %}
        <div class="sw-login__image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_image_headlines %}
            <div class="sw-login__image-headlines">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_headline %}
                <div class="sw-login__headline">
                    {{ $tc('sw-login.index.headlineMain') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_sub_headline %}
                <div class="sw-login__sub-headline">
                    {{ $tc('sw-login.index.subheadlineMain') }}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_form %}
        <div class="sw-login__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_badge %}
            <div class="sw-login__badge">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_badge_image %}
                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_2_2" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="34" height="34">
                            <path d="M34 0H0V34H34V0Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_2_2)">
                            <path d="M9.57621 27.7336C7.55204 27.7371 5.56167 27.2149 3.79997 26.2181C3.79003 26.2133 3.78052 26.2133 3.77533 26.2086H3.77058C3.76808 26.2056 3.7645 26.2037 3.76063 26.2034C3.45714 26.034 3.16254 25.8492 2.87797 25.6497H2.87321C2.56275 25.436 2.26324 25.207 1.97584 24.9632C1.01522 23.1559 0.392092 21.1885 0.137027 19.1576C0.0467036 18.4418 0.00093976 17.7212 1.28352e-06 16.9998C-0.000863839 14.7725 0.435615 12.5668 1.28467 10.5077C1.29286 10.4962 1.29792 10.4828 1.29936 10.4688C1.30203 10.4604 1.30521 10.4522 1.30887 10.4442C2.99461 6.42549 6.15438 3.20431 10.1399 1.44156C10.0418 1.58377 9.94406 1.73074 9.85069 1.88289L9.84594 1.88765V1.8924C9.84399 1.9011 9.84062 1.90942 9.836 1.91704C8.65598 3.82755 8.04572 6.03517 8.07697 8.28048C8.10822 10.5258 8.77965 12.7156 10.0124 14.5925C10.0153 14.5949 10.0172 14.5983 10.0175 14.6021C10.018 14.6058 10.0197 14.6093 10.0223 14.612C10.184 14.8471 10.3409 15.078 10.5177 15.2984C10.5177 15.3036 10.5177 15.3084 10.5224 15.3084L10.7628 15.7298C10.7631 15.7336 10.7647 15.7372 10.7675 15.7398L10.7822 15.7545L11.5767 17.1377L15.0287 23.1197C15.2255 23.4556 15.5049 23.7356 15.8405 23.933C16.176 24.1304 16.5565 24.2386 16.9458 24.2474C16.9553 24.2502 16.9652 24.252 16.9751 24.2526C17.4802 24.2594 17.9733 24.099 18.3778 23.7966C18.0482 24.1678 17.6943 24.5167 17.3184 24.8409C17.308 24.8505 17.2965 24.8587 17.2842 24.8656C15.3251 26.5616 12.8597 27.5616 10.2726 27.7094C10.0418 27.7236 9.81136 27.7336 9.57621 27.7336Z" fill="white"/>
                            <path d="M33.122 22.4034C33.1025 22.2072 33.0731 22.0144 33.0437 21.8251C33.0393 21.8109 33.0359 21.7965 33.0338 21.7818C32.6171 19.2594 31.3917 16.9407 29.5423 15.1754C27.6929 13.4102 25.3198 12.294 22.7807 11.9951C22.7697 11.9912 22.7581 11.9894 22.7465 11.9899C22.3834 11.9467 22.016 11.9212 21.6434 11.9117C21.6208 11.9072 21.5977 11.9055 21.5747 11.9065C21.552 11.9027 21.5289 11.9011 21.5059 11.9018H12.4934C12.1412 11.8989 11.7934 11.9795 11.4784 12.1369C11.2016 12.275 10.9558 12.4682 10.7562 12.7045C10.5565 12.9409 10.4071 13.2154 10.3172 13.5115C10.2273 13.8075 10.1987 14.1188 10.2331 14.4262C10.2675 14.7337 10.3643 15.0309 10.5175 15.2997C10.3407 15.0793 10.1838 14.8484 10.0222 14.6133C10.0195 14.6106 10.0179 14.6071 10.0174 14.6034C10.017 14.5996 10.0151 14.5962 10.0122 14.5938C8.43536 12.1851 7.78884 9.28496 8.1933 6.43457C8.22745 6.18905 8.27154 5.94396 8.32557 5.70406C8.60187 4.36298 9.11318 3.08132 9.83587 1.91834C9.8405 1.91072 9.84387 1.9024 9.84581 1.8937V1.88895L9.85057 1.88419C9.94394 1.73203 10.0416 1.58507 10.1397 1.44286C12.3008 0.489155 14.6375 -0.00188832 16.9997 0.00128173C17.3969 0.00128173 17.789 0.0159787 18.1814 0.0406173C18.4365 0.0600691 18.6915 0.0795206 18.9465 0.108914C18.9625 0.113662 18.9788 0.116989 18.9954 0.118856C23.1305 0.604926 26.9432 2.59271 29.7093 5.70471C32.4753 8.81669 34.0022 12.8362 33.9999 16.9998C34.0018 18.4479 33.8155 19.8902 33.4457 21.2904C33.4405 21.3245 33.4358 21.3491 33.431 21.369C33.3377 21.7218 33.2331 22.065 33.122 22.4034Z" fill="white"/>
                            <path d="M16.9999 34C16.489 34.0027 15.9784 33.9782 15.4702 33.9265C12.6521 33.6752 9.94164 32.7236 7.58498 31.1582C5.22831 29.5928 3.30024 27.4633 1.97597 24.9632C2.26337 25.207 2.56287 25.4361 2.87333 25.6497H2.87809C3.16266 25.8492 3.45726 26.034 3.76075 26.2034C3.76462 26.2037 3.7682 26.2056 3.7707 26.2086H3.77546C3.78064 26.2133 3.79015 26.2133 3.80009 26.2181C5.5618 27.2149 7.55217 27.7371 9.57634 27.7336C9.81149 27.7336 10.0419 27.7236 10.2727 27.7089C12.8593 27.5609 15.3243 26.561 17.283 24.8651C17.2954 24.8583 17.3068 24.85 17.3172 24.8405C17.6931 24.5163 18.0471 24.1674 18.3766 23.7962C18.616 23.6121 18.8161 23.3819 18.9649 23.1192L19.0432 22.9917V22.9865L20.4312 20.5789L20.8332 19.8778L23.4699 15.3079C23.5557 15.1575 23.6247 14.998 23.6757 14.8325C23.7755 14.5045 23.7997 14.1582 23.7463 13.8195C23.6929 13.4809 23.5634 13.1588 23.3676 12.8774C23.1717 12.5961 22.9146 12.3628 22.6155 12.1953C22.3165 12.0277 21.9833 11.9302 21.6411 11.91C22.0137 11.9195 22.3811 11.9441 22.7442 11.9882C22.7558 11.9877 22.7674 11.9895 22.7783 11.9934C25.3174 12.2923 27.6906 13.4085 29.5399 15.1738C31.3893 16.939 32.6147 19.2576 33.0314 21.7801C33.0336 21.7948 33.0369 21.8092 33.0414 21.8233C33.0708 22.0144 33.1002 22.2055 33.1196 22.4017C32.4488 24.4095 31.404 26.2722 30.0402 27.8914C28.4487 29.8049 26.4552 31.3443 24.2014 32.4001C21.9476 33.4559 19.4888 34.0022 16.9999 34Z" fill="white"/>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M9.57639 27.7336C7.55221 27.7372 5.56185 27.215 3.80013 26.2181C3.79019 26.2134 3.78069 26.2134 3.7755 26.2086H3.77074C3.76824 26.2056 3.76467 26.2038 3.7608 26.2034C3.45731 26.034 3.1627 25.8492 2.87813 25.6497H2.87337C2.56291 25.4361 2.26341 25.207 1.97601 24.9633C1.01538 23.1559 0.392257 21.1885 0.137192 19.1577C0.274649 19.27 0.416863 19.3829 0.55389 19.4909C6.72263 24.311 12.4643 24.2457 15.2545 23.8057C15.3673 23.7863 15.475 23.7716 15.5778 23.7521C15.966 24.0648 16.4475 24.2389 16.9459 24.247C16.9555 24.2499 16.9653 24.2516 16.9753 24.2522C17.4804 24.259 17.9735 24.0986 18.378 23.7962C18.0484 24.1674 17.6945 24.5163 17.3185 24.8405C17.3082 24.8501 17.2967 24.8583 17.2844 24.8652C15.3253 26.5613 12.8598 27.5612 10.2728 27.709C10.0419 27.7237 9.81153 27.7336 9.57639 27.7336Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.2">
                                <path d="M30.0428 27.8952C29.5775 22.9128 27.3152 18.2699 23.6783 14.8329C23.7781 14.5049 23.8023 14.1586 23.7489 13.82C23.6955 13.4813 23.5661 13.1592 23.3702 12.8779C23.1743 12.5965 22.9172 12.3633 22.6181 12.1957C22.319 12.0281 21.9859 11.9305 21.6436 11.9104C22.0163 11.9199 22.3837 11.9445 22.7468 11.9886C22.7584 11.9881 22.77 11.9899 22.7809 11.9938C25.32 12.2927 27.6932 13.4089 29.5426 15.1741C31.3919 16.9394 32.6173 19.2581 33.034 21.7805C33.0362 21.7952 33.0395 21.8096 33.044 21.8238C33.0734 22.0148 33.1028 22.2059 33.1222 22.4021C32.4518 24.4112 31.4069 26.2751 30.0428 27.8952Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.2">
                                <path d="M10.5174 15.2984C10.3407 15.0728 10.179 14.8424 10.0173 14.6021C10.0169 14.5983 10.0151 14.5949 10.0121 14.5925C8.7777 12.7123 8.10619 10.5184 8.07671 8.26937C8.04723 6.0203 8.66099 3.80959 9.84572 1.89762V1.88768L9.85048 1.88293C9.94385 1.73077 10.0415 1.58381 10.1397 1.44159C12.3008 0.487888 14.6374 -0.0031548 16.9996 1.52514e-05C17.3968 1.52514e-05 17.7889 0.0147118 18.1814 0.0393504C12.3217 4.37876 11.503 9.67304 11.4784 12.1369C11.2017 12.275 10.9561 12.4681 10.7566 12.7044C10.557 12.9406 10.4077 13.2151 10.3178 13.511C10.2279 13.8068 10.1992 14.1179 10.2335 14.4253C10.2679 14.7326 10.3645 15.0297 10.5174 15.2984Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:screen" opacity="0.5">
                                <path d="M33.446 21.2904C33.4801 21.1041 33.5441 20.7215 33.6189 20.1773C33.76 19.0932 33.8034 17.9987 33.7486 16.9068C33.7156 16.1806 33.6403 15.4569 33.523 14.7395C33.3897 13.9453 33.2046 13.1607 32.9688 12.3906C32.7123 11.5694 32.3962 10.7681 32.023 9.99291C31.6389 9.19137 31.1931 8.42092 30.6895 7.68855C30.1949 6.95838 29.6458 6.26668 29.0469 5.61933C28.4582 4.99373 27.8293 4.40733 27.164 3.86393C26.845 3.58901 26.4971 3.37332 26.1781 3.12347C25.84 2.90259 25.521 2.6722 25.1878 2.48114C24.8545 2.29008 24.5355 2.08865 24.207 1.93174C23.8884 1.75884 23.5745 1.60323 23.2607 1.47096C22.9581 1.32874 22.6578 1.20123 22.3681 1.09835C22.079 0.980776 21.8092 0.872712 21.5446 0.789287C21.0259 0.607739 20.5591 0.486707 20.1714 0.387289C19.7837 0.28787 19.4755 0.23038 19.2693 0.181535C19.137 0.15171 19.0437 0.127503 18.9948 0.117561C23.1303 0.603464 26.9433 2.59134 29.7096 5.70362C32.4759 8.81591 34.0028 12.8358 34.0002 16.9998C34.0021 18.4479 33.8158 19.8902 33.446 21.2904Z" fill="white"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M16.9998 34C16.4889 34.0028 15.9783 33.9782 15.47 33.9266C11.6131 33.5827 7.98966 31.9306 5.20078 29.2443C2.41188 26.558 0.625168 22.999 0.137027 19.1577C0.0467036 18.4419 0.00093976 17.7212 1.28352e-06 16.9998C-0.000863839 14.7726 0.435615 12.5668 1.28467 10.5078C1.23063 10.6699 1.07848 11.1259 0.89564 11.8218C0.571499 13.0302 0.377612 14.2697 0.317281 15.5193C0.247777 16.8478 0.326643 18.1799 0.552424 19.4909C0.621153 19.8981 0.704578 20.3148 0.807455 20.7315C1.04326 21.6851 1.35996 22.6168 1.7541 23.5165C1.9551 23.9726 2.18074 24.4433 2.42064 24.8652C2.56804 25.1297 2.71976 25.3947 2.87191 25.6497H2.87667C2.98949 25.8308 3.10231 26.0076 3.21988 26.1792C3.77513 27.0247 4.40889 27.8159 5.11273 28.5424C5.78869 29.2565 6.52638 29.9096 7.31724 30.494C8.05631 31.0433 8.83666 31.5346 9.65142 31.9637C10.0487 32.1599 10.4265 32.3562 10.8138 32.5131C11.0048 32.5965 11.1911 32.6747 11.3757 32.7534C11.562 32.8221 11.7483 32.8904 11.9298 32.9544C12.2878 33.0966 12.6509 33.1896 12.9841 33.2929C13.3226 33.4053 13.6511 33.474 13.955 33.5475C14.241 33.6214 14.5307 33.6804 14.8229 33.7243C15.0927 33.7675 15.3416 33.822 15.5634 33.8418C16.4802 33.9365 16.9998 34 16.9998 34Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M16.4898 24.2833C16.0412 24.2555 15.6118 24.0913 15.2591 23.8126L15.2544 23.8074C15.0168 23.622 14.8156 23.3943 14.6609 23.1357C14.4945 22.8953 14.3177 22.6407 14.1461 22.371C13.9745 22.1013 13.7929 21.8268 13.6213 21.5372C13.4497 21.2476 13.2781 20.9588 13.1026 20.6645C12.9358 20.3705 12.7741 20.0714 12.6072 19.777C12.4404 19.4827 12.2986 19.1887 12.1512 18.9091C11.8573 18.3402 11.6022 17.8008 11.3961 17.33C11.159 16.8119 10.9495 16.2817 10.7684 15.7415L10.7831 15.7562L11.5776 17.1394L15.0296 23.1214C15.2264 23.4573 15.5059 23.7373 15.8414 23.9347C16.1769 24.1321 16.5575 24.2404 16.9467 24.2492C16.9563 24.252 16.9661 24.2537 16.9761 24.2543C16.9761 24.2543 16.9328 24.2591 16.8537 24.2738C16.7332 24.2907 16.6111 24.2938 16.4898 24.2833Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M10.0245 14.6107C10.0245 14.6107 9.88186 14.4543 9.65665 14.1582C9.34491 13.7463 9.07012 13.3077 8.83536 12.8476C8.49967 12.1924 8.2366 11.5024 8.05082 10.79C7.94664 10.3864 7.86612 9.97713 7.80962 9.56415C7.75464 9.13691 7.7223 8.70707 7.71279 8.27646C7.70717 8.05773 7.71971 7.8442 7.72576 7.63412C7.73916 7.4154 7.75127 7.19754 7.77547 6.98574C7.81718 6.57103 7.88678 6.15957 7.98382 5.75424C8.14691 5.03596 8.39109 4.3386 8.71174 3.6755C8.93366 3.2091 9.19651 2.76328 9.49715 2.34329C9.71328 2.04071 9.85333 1.88078 9.85333 1.88078L9.6251 2.41461C9.48245 2.7535 9.2914 3.23979 9.10423 3.83155C8.89389 4.50165 8.7318 5.18591 8.61924 5.87916C8.55267 6.25652 8.51809 6.65117 8.48264 7.05058C8.46362 7.25158 8.45714 7.44998 8.44849 7.64925C8.44633 7.85846 8.43985 8.06422 8.44849 8.26565C8.45623 9.06472 8.53421 9.86154 8.68148 10.647C8.76188 11.0209 8.83277 11.3865 8.93046 11.7276C9.02815 12.0686 9.12454 12.3876 9.22223 12.6824C9.42756 13.2673 9.63072 13.7506 9.78417 14.083L10.0245 14.6107Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M3.75945 26.2043C3.75945 26.2043 3.97168 26.2946 4.34344 26.4317C4.71518 26.5687 5.24815 26.7559 5.8961 26.927C6.63055 27.1172 7.379 27.2485 8.13433 27.3199C8.54627 27.3632 8.9742 27.371 9.40732 27.3761H9.57028L9.72719 27.3692L10.0652 27.3541L10.2347 27.3463L10.3872 27.3338L10.7261 27.3035C11.1596 27.2628 11.5907 27.1986 12.0173 27.1112C12.4405 27.02 12.858 26.9279 13.2527 26.8025C13.9788 26.5831 14.686 26.3051 15.3673 25.9713C15.8554 25.7316 16.3306 25.4665 16.7911 25.1773L17.3189 24.8397C17.3189 24.8397 17.28 24.8829 17.2065 24.9594C17.133 25.0359 17.0302 25.1587 16.881 25.2927C16.4799 25.68 16.0439 26.0296 15.5786 26.337C15.2677 26.5463 14.9447 26.7371 14.6113 26.9084C13.8365 27.3066 13.0157 27.6079 12.1673 27.8054C11.711 27.9087 11.2492 27.9858 10.7841 28.0362L10.4447 28.06L10.258 28.0716L10.0881 28.076L9.7501 28.0846L9.57028 28.0889L9.39738 28.0846C8.15023 28.0496 6.91934 27.7924 5.76253 27.3251C5.24599 27.1148 4.74911 26.859 4.27772 26.5609C4.10481 26.4554 3.97989 26.3616 3.89301 26.2994L3.75945 26.2043Z" fill="black"/>
                            </g>
                            <g style="mix-blend-mode:multiply" opacity="0.3">
                                <path d="M22.7378 11.9835L22.9107 11.9869C23.0235 11.9917 23.1891 11.9844 23.3996 12.0064C23.986 12.0463 24.5672 12.1419 25.1355 12.2917C25.9461 12.5039 26.7281 12.8132 27.4645 13.2128C28.3141 13.6741 29.099 14.2458 29.7987 14.9129C30.1506 15.2531 30.4809 15.6148 30.7877 15.9961C31.6106 17.0216 32.2347 18.1918 32.6278 19.4464C32.8044 20.0066 32.927 20.5824 32.9939 21.1659C33.0259 21.3747 33.0246 21.5428 33.0372 21.6548L33.0484 21.8277C33.0484 21.8277 32.9814 21.5951 32.853 21.1975C32.6778 20.653 32.4715 20.119 32.2354 19.5981C31.903 18.8715 31.5092 18.1744 31.0583 17.5146C30.8106 17.1554 30.5361 16.7984 30.2422 16.4491C29.946 16.0947 29.6284 15.7586 29.2912 15.4428C28.962 15.1209 28.6132 14.8194 28.2469 14.5403C27.8803 14.2684 27.5198 13.9974 27.1451 13.7739C26.4649 13.3543 25.7506 12.9929 25.0098 12.6933C24.4764 12.4814 23.9315 12.3 23.3776 12.1499L22.7378 11.9835Z" fill="black"/>
                            </g>
                        </g>
                    </svg>
                {% endblock %}
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_view %}

            <router-view
                v-slot="{Component}"
            >
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <component
                        :is="Component"
                        :hash="hash"
                        @is-loading="setLoading(true)"
                        @is-not-loading="setLoading(false)"
                        @login-error="loginError"
                        @login-success="loginSuccess"
                    />
                </transition>
            </router-view>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
