<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_login %}
<div
    v-show="shouldRenderDOM"
    class="sw-login"
    :class="{ 'is--login-success' : isLoginSuccess }"
>

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_login_container %}
    <div
        class="sw-login__container"
        :class="{ 'is--login-error': isLoginError }"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_image %}
        <div class="sw-login__image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_image_headlines %}
            <div class="sw-login__image-headlines">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_headline %}
                <div class="sw-login__headline">
                    {{ $tc('sw-login.index.headlineMain') }}
                </div>
                {% endblock %}

                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_sub_headline %}
                <div class="sw-login__sub-headline">
                    {{ $tc('sw-login.index.subheadlineMain') }}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_login_form %}
        <div class="sw-login__content">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_badge %}
            <div class="sw-login__badge">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_login_badge_image %}
                    <svg width="34" height="34" viewBox="0 0 68 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.0481 2.72507C24.7633 2.72507 26.1536 4.11545 26.1536 5.83057V30.5859C26.1536 32.301 24.7633 33.6914 23.0481 33.6914C21.333 33.6914 19.9426 32.301 19.9426 30.5859V27.1033C19.9426 23.4648 16.9487 20.5152 13.3102 20.5152C9.67165 20.5152 6.67769 23.4648 6.67769 27.1033V30.5859C6.67769 32.301 5.2873 33.6914 3.57218 33.6914C1.85706 33.6914 0.466675 32.301 0.466675 30.5859V5.83058C0.466675 4.11545 1.85706 2.72507 3.57218 2.72507C5.2873 2.72507 6.67769 4.11545 6.67769 5.83057V9.09135C6.67769 12.6074 9.52797 15.4576 13.044 15.4576H13.5763C17.0924 15.4576 19.9426 12.6074 19.9426 9.09135V5.83057C19.9426 4.11545 21.333 2.72507 23.0481 2.72507Z" fill="white"/>
                        <path d="M50.7146 33.1074C49.8083 33.1074 48.9513 32.6944 48.3866 31.9855L45.7734 28.7052C44.1742 26.6977 40.9398 27.8285 40.9398 30.3952C40.9398 31.8931 39.7255 33.1074 38.2275 33.1074H37.8343C36.1191 33.1074 34.7288 31.717 34.7288 30.0019V3.38328C34.7288 1.66815 36.1191 0.277771 37.8343 0.277771C39.5494 0.277771 40.9398 1.66815 40.9398 3.38328V7.57452C40.9398 11.3271 45.6739 12.9739 48.0028 10.0315L48.2909 9.66742C48.8598 8.94869 49.7261 8.52954 50.6427 8.52954C53.2217 8.52954 54.5981 11.569 52.8969 13.5073L49.5128 17.3629C47.7587 19.3614 47.7702 22.3541 49.5394 24.3392L52.9365 28.1506C54.6466 30.0692 53.2847 33.1074 50.7146 33.1074Z" fill="white"/>
                        <path d="M61.6487 29.9927C61.6487 28.4491 62.9 27.1977 64.4436 27.1977C65.9872 27.1977 67.2386 28.4491 67.2386 29.9927C67.2386 31.5363 65.9872 32.7876 64.4436 32.7876C62.9 32.7876 61.6487 31.5363 61.6487 29.9927Z" fill="white"/>
                    </svg>

                {% endblock %}
            </div>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_view %}

            <router-view
                v-slot="{Component}"
            >
                <transition
                    name="fade"
                    mode="out-in"
                >
                    <component
                        :is="Component"
                        :hash="hash"
                        @is-loading="setLoading(true)"
                        @is-not-loading="setLoading(false)"
                        @login-error="loginError"
                        @login-success="loginSuccess"
                    />
                </transition>
            </router-view>
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_login_loader %}
            <sw-loader v-if="isLoading" />
            {% endblock %}
        </div>
        {% endblock %}
    </div>
    {% endblock %}
</div>
{% endblock %}
