{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/account/register/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    {% block page_account_register %}
        <div class="account-register">
            {% block page_account_register_inner %}
                <div class="row justify-content-center">
                    {% block page_account_register_container %}
                        <div class="col-lg-8">
                            {% sw_include '@Storefront/storefront/component/account/register.html.twig' with {
                                cardTitle: 'account.registerPersonalHeader'|trans|sw_sanitize
                            } %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
