{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/account/register/meta.html.twig' %}
{% endblock %}

{% block base_body%}
    {% block page_account_register %}
        <div class="account-register">
            <div class="container">
                {% block page_account_register_inner %}
                    <div class="row vh-100 justify-content-center align-items-center">
                        {% block page_account_register_container %}
                            <div class="col-lg-5">
                                {% set isCustomerNameAndAddressRequired = config('core.systemWideLoginRegistration.isCustomerNameAndAddressRequired') != 1 %}
                                {% sw_include '@Storefront/storefront/component/account/register'~ (isCustomerNameAndAddressRequired ? '-mini' : '') ~ '.html.twig' with {
                                    cardTitle: 'account.registerPersonalHeader'|trans|sw_sanitize
                                } %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block base_pseudo_modal %}
        {% sw_include '@Storefront/storefront/component/pseudo-modal.html.twig' %}
    {% endblock %}
{% endblock %}
