@import "~scss/variables";

.sw-changelog a[href^="https://issues.haokeyingxiao.com"] {
    font-family: monospace;
    color: $color-darkgray-300;

    &[visited] {
        color: $color-darkgray-200;
    }
}
