@include media-breakpoint-up(md) {
    .register-submit {
        text-align: right;
    }
}

.account-register{
    background-color: var(--#{$prefix}primary);

    .register-card {
        background-color: $white;
    }
}
